@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", sans-serif;
}

input[type="password"]::-ms-reveal {
    display: none;
}
input[type="password"]::-ms-clear {
    display: none;
}